.learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pinyin {
    height: 40px;
    margin-top: 15%;
    text-align: center;
    color: #999;
}

.knowledgeName {
    overflow-y: scroll;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 10px;
}

.answerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

#clickShowAnswer {
    height: 100%;
    text-align: center;
    line-height: 400px;
    font-size: 30px;
    color: #6190E8;
}

.knowledgeDescription {
    overflow:scroll;
    height: 300px;
    font-size: 30px;
    color: #999;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.buttonKnown {
    margin-top: 10%;
    width: 60%;
    margin-bottom: 10px;
}

.buttonForget {
    width: 60%;
}
