.learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pinyin {
    height: 40px;
    margin-top: 15%;
    text-align: center;
    color: #999;
}

.knowledgeName {
    white-space: nowrap;
    overflow-y: scroll;
    font-size: 60px;
    text-align: center;
    letter-spacing: 10px;
}

.knowledgeDescription {
    overflow:hidden;
    height: 250px;
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
    color: #999;
}

.buttonKnown {
    margin-top: 10%;
    width: 60%;
    margin-bottom: 10px;
}

.buttonForget {
    width: 60%;
}
