
.profile {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
}

.avatar{
    width: 200px;
    height: 200px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    margin-right: 10%;
}

.name,.uid,.pls_login {
    font-size: 40px;
    white-space: nowrap;
}

.pls_login{
    color: #6190E8;
    text-decoration:underline
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 300px;
    justify-content: center;
    align-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item_text{
        background-color: aliceblue;
    }
    
    #study_record_img {
        height: 200px;
        width: 200px;
    }

    #study_num_input,#study_day_input {
        height: auto;
        width: auto;
        text-align: center;
        font-size: 80px;
    }

    #study_record_text {
        margin-top: 12px;
    }
}



